<div class="container ">
<h1 class="mt-5 text-center">Books</h1>
    <div class="d-flex flex-row">
      <!-- Books Entries Column -->
        <!-- Book -->
          <%if current_user%>
            <%= render "books/book" %>
          <%else%>
          <div class="alert alert-danger" role="alert">
          Only registered users can read and manage books!
          </div>
        <% end %>  

        <!-- Book -->
    <!-- /.row -->
  </div>
  </div>
